In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

from collections import Counter #Count actors

## Read in data

In [83]:
src_path = Path('data/netflix_titles.csv')
df_src = pd.read_csv(src_path)

## Function

In [167]:
def country_by_genre(df
                    ,keep_features = ['show_id','title','country','listed_in','rating']
                    ,keep_countries = ['Germany','Brazil']
                    ,keep_genres = ['Action & Adventure', 'Comedies']
                    ):
    df_tmp = df.copy()

    df_tmp.country = df_tmp.country.fillna('').apply(lambda x: x.split(', '))
    df_tmp.listed_in = df_tmp.listed_in.fillna('').apply(lambda x: x.split(', '))
    
    df_tmp = df_tmp[keep_features].explode('country').explode('listed_in')
    df_tmp.reset_index(drop=True, inplace=True)

    df_tmp = df_tmp[df_tmp['country'].isin(keep_countries)]
    df_tmp = df_tmp[df_tmp['listed_in'].isin(keep_genres)]
    
    df_tmp = df_tmp.groupby(['country','listed_in']).size().unstack().fillna(0).astype(int)
    
    return df_tmp

In [168]:
country_by_genre(df_src)

listed_in  Action & Adventure  Comedies
country
Brazil                      3        17
Germany                    27        38